@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1f1f1f; /* Dark background */
    --secondary-color: #333; /* Slightly lighter for contrast */
    --highlight-color: #ffcc00; /* Bright color for highlights */
    --text-color-light: #f5f5f5; /* Light text color */
    --text-color-dark: #1f1f1f; /* Dark text color */
    --button-bg: #ff9800; /* Button background color */
    --button-hover-bg: #e68900; /* Button hover background color */
    --placeholder-color: #aaaaaa; /* Placeholder text color */
    --shadow-color: rgba(0, 0, 0, 0.15); /* Shadow color */
}

body {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px var(--shadow-color);
}

.search {
    background-color: var(--secondary-color);
    border: 2px solid var(--highlight-color);
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-size: 1rem;
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
}

.search:focus {
    outline: 0;
    background-color: var(--primary-color);
    color: var(--highlight-color);
}

.search::placeholder {
    color: var(--placeholder-color);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--shadow-color);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.movie:hover {
    transform: scale(1.05);
}

.movie img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.movie-info {
    padding: 1rem;
    color: var(--text-color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-info h3 {
    margin: 0;
    font-size: 1.2rem;
}

.movie-info span {
    background-color: var(--highlight-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
    color: var(--text-color-dark);
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-color-light);
    color: var(--text-color-dark);
    padding: 1rem;
    max-height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.movie:hover .overview {
    transform: translateY(0);
}

#tags {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
}

.tag {
    color: var(--text-color-light);
    padding: 0.5rem 1rem;
    background-color: var(--button-bg);
    border-radius: 25px;
    margin: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tag:hover {
    background-color: var(--button-hover-bg);
}

.tag.highlight {
    background-color: red;
}

.no-results {
    color: var(--text-color-light);
    text-align: center;
    margin-top: 2rem;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    color: var(--text-color-light);
}

.page {
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.page:hover {
    background-color: var(--button-bg);
    color: var(--text-color-dark);
}

.page.disabled {
    cursor: not-allowed;
    color: grey;
}

.current {
    padding: 1rem 2rem;
    border-radius: 50px;
    border: 2px solid var(--highlight-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.know-more {
    background-color: var(--button-bg);
    color: var(--text-color-light);
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.know-more:hover {
    background-color: var(--button-hover-bg);
    color: var(--text-color-dark);
}

/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: width 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 2rem;
    color: #818181;
    display: block;
    transition: color 0.3s;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 3rem;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 1.5rem;
    }

    .overlay .closebtn {
        font-size: 2rem;
        top: 15px;
        right: 35px;
    }
}

.embed.hide {
    display: none;
}

.embed.show {
    display: inline-block;
}

.arrow {
    position: absolute;
    font-size: 2.5rem;
    color: var(--text-color-light);
    cursor: pointer;
    transition: color 0.3s;
}

.arrow.left-arrow {
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.arrow.right-arrow {
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.arrow:hover {
    color: var(--highlight-color);
}

.dots {
    margin-top: 2rem;
    text-align: center;
}

.dots .dot {
    padding: 0.5rem;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    color: var(--text-color-light);
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.dots .dot.active {
    background-color: var(--highlight-color);
    color: var(--text-color-dark);
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        justify-content: center;
    }

    .search {
        width: 100%;
        max-width: 300px;
    }

    .movie {
        width: 100%;
        max-width: 400px;
        margin: 0.5rem;
    }

    .movie-info h3 {
        font-size: 1rem;
    }

    .movie-info span {
        font-size: 0.9rem;
    }

    .overview {
        padding: 0.5rem;
    }

    .pagination {
        flex-direction: column;
    }

    .page {
        padding: 0.5rem;
        margin: 0.5rem 0;
    }

    .current {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .know-more {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 480px) {
    .search {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }

    .movie-info h3 {
        font-size: 0.9rem;
    }

    .movie-info span {
        font-size: 0.8rem;
        padding: 0.2rem 0.4rem;
    }

    .pagination {
        margin: 0.5rem;
    }

    .page {
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    .current {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
}
